@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins&family=Roboto&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
p {
  max-width: 500px !important;
}
